*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1{
    margin-bottom: 87px;
    margin-top: 36px;
}

.poster-1 , .poster-2,.poster-3 {
    display: inline-block;
    margin: 0px 83px;
}

p{
    padding: 89px 100px 89px 100px;
}
